{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Title Image -->
    <link rel="shortcut icon" href="{% static 'game/imgs/player3.png' %}" type="image/x-icon">

    <!-- My CSS page -->
    <link rel="stylesheet" href="{% static 'game/game.css' %}">

    <title>Game Time</title>
</head>
<body id="body">
    <div id="main">
        <!-- <img id="border_top" src="{% static 'game\imgs\border.png' %}"> -->
        <canvas id="gameScreen" width="1400" height="600"></canvas>
        <!-- <img id="border_bottom" src="{% static 'game\imgs\border.png' %}"> -->
        <div id="controls">
            <div id="updown_btn">
                <div id="up"></div>
                <div id="down"></div>
            </div>
            <div id="right_btn">
                <div id="right"></div>
            </div>
            
        </div>
    </div>

    <div id="return_table">
        <table>
            <tr>
                <td>Return</td>
            </tr>
            <tr>
                <td><button id="return_ingame" class="bigbtn" onclick="openMenu()" type="button"></button></td>
            </tr>
        </table>
    </div>
    
    

    <div id="menu">
        
        <div style="display:none">
            <img id="background" src="{% static 'game\imgs\background.png' %}">
            <img id="wall" src="{% static 'game\imgs\wall.png' %}">
            <img id="edge" src="{% static 'game\imgs\edge.png' %}">
            <img id="flag" src="{% static 'game\imgs\flag.png' %}">
            <img id="player1" src="{% static 'game\imgs\player1.png' %}">
            <img id="player2" src="{% static 'game\imgs\player2.png' %}">
            <img id="player3" src="{% static 'game\imgs\player3.png' %}">
        </div>

        <!-- <div class="row title">
            <h2 id="time">Best Time: {{time}}</h2>
        </div>

        <div class="row title">
            <div id="name" contentEditable="true" data-text="Enter Name here">{{ name }}</div>
        </div> -->

        <div class="container"> 
            <div class="row justify-content-center background">
                <img id="title" src="{% static 'game\imgs\title.png' %}">
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center" style="display: flex; align-items: center; justify-content: center;">   
                <form id="myForm" method="post" onsubmit="return DoSubmit();">
                    {% csrf_token %}
                    <table class="form">
                        <tr>
                            <td class="form_col">Best Time</td>
                            <td class="form_col"><input type="text" id="time" name="time" value="" class="values" readonly><br></td>
                        </tr>
                        <tr>
                            <td class="form_col">Name</td>
                            <td class="form_col"><input type="text" id="name" name="name" class="values" value=""></td>
                        </tr>
                    </table>

                    <table id="button_table">
                        <tr>
                            <td class="button_col">Save</td>
                            <td class="button_col">Play</td>
                            <td class="button_col">Return</td>
                        </tr>
                        <tr>
                            <td class="button_col"><input id="save" class="btn" type="submit" name="submit" value="" /></td>
                            <td class="button_col"><button id="play" class="btn" onclick="startGame()" type="button"></button> </td>
                            <td class="button_col"><button id="return" class="btn" onclick="home()" type="button"></button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        

        

        
    </div>

    
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    

    <!-- My Javascript -->
    <script src="{% static 'game/input.js' %}"></script>
    <script src="{% static 'game/state.js' %}"></script>
    <script src="{% static 'game/menu.js' %}"></script>
    <script src="{% static 'game/player.js' %}"></script>
    <script src="{% static 'game/game.js' %}"></script>
    <script src="{% static 'game/wall.js' %}"></script>
    <script src="{% static 'game/camera.js' %}"></script>
    <script src="{% static 'game/pause.js' %}"></script>
    <script src="{% static 'game/index.js' %}"></script>
</body>
</html>